<div class="modalOverlay hide" id="modalOverlay"></div>
<div class="modal hide" id="modal">
  <button class="close-button" id="close-button">X</button>
  <div class="modal-guts">
    <section id="options">
      <div class="questionBox">
      <iframe width="300" height="300" src="https://api.qrserver.com/v1/create-qr-code/?size=300x300&data={{url}}"></iframe>
      <button id='share' >Share</button>
    </section>
  </div>
</div>

<script>
  const shareBtn = document.getElementById("share");

  shareBtn.addEventListener("click", function(e) {
    e.preventDefault();
      if (navigator.share) {
          navigator.share({
              title: "Business QaRd",
              text: "Hello, here is my business QaRd!",
              url: "{{url}}"
          })
          .then(console.log("Shared!"));
      }
      else {
          window.alert("Share function not available");
      }
  });
</script>