<link href="/assets/css/style.css" rel="stylesheet">
<link href="/assets/css/userPageStyles.css" rel="stylesheet">

<div class="sticky-footer-wrapper">
<header>
  <nav>
      <a href="/" id="logo">QaRds</a>
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <span>|</span>
      <li><a href="/signIn">Sign In/Up</a></li>
    </ul>
  </nav>
</header>

<!-- Navigation and footer are always the same on each page I set the sections to have their own id's in case of overlap with css -->
<section id="about">
<h1>About QaRds</h1>
<p>
  Here at QaRds we thought about the digital age and how more and more it fulfills commands on the go. However more so in an age of environmental waste,
  ever piece of paper less used or bag from the store is a little better for our planet. 
</p>
<p>
  Hence where we come in we recognize that business cards are still neccessary however with QaRds you can make a professional looking business cards in a few minutes and
  share it with a QR code or a button click at marketing events.
</p>
<p>
  Qards has multiple styles to choose from as well our current selection is below.
</p>

<div id="cardDisplay">
  <div><img src="assets/images/geometry.jpg" alt="business card in a geometric design"></div> 
  <div><img src="assets/images/trendy.jpg" alt="business card in a trendy design"></div>
  <div><img src="assets/images/carbon.jpg" alt="business card in a carbon design"></div>
  <div><img src="assets/images/simple.jpg" alt="business card in a simple design"></div>
</div>


</section>

<section id="instructions">
<h1>How to use QaRds</h1>
<p>
  Below are easy 4 steps to use QaRds
</p>
<p>
  1. Create account <br/>
  2. Fill In your data and push save the button<br/>
  3. Push the Generate QR button. <br/>
  4. Show someone the QR code and have them look at it with their smart phone camera where a link will appear, just have them click.
</p>


<div id="instructionDisplay">
  <div><img src="assets/images/step1.jpg" alt="business card in a geometric design"></div> 
  <div><img src="assets/images/step2.jpg" alt="business card in a trendy design"></div>
  <div><img src="assets/images/step3.jpg" alt="business card in a carbon design"></div>
  <div><img src="assets/images/step4.jpg" alt="business card in a simple design"></div>
</div>


</section>
</div>

<footer>
  <p>copyright ©<span id="year"></span></p>
</footer>

</body></html>