<style>
  #logOut{
    color: white;
    font-size: 30px;
    cursor: pointer;
    width: 60px;
  }

  #logOut:hover{
    color: cadetblue;
  }

  #logOutContainer{
    background-color: rgb(143, 223, 206);
    width: 100%;
    display: flex;
    justify-content: center;
  }
</style>

<link rel="stylesheet" href="/assets/css/userPageStyles.css">
<section id="userDisplay">


<header>
  <nav>
      <a href="index.html" id="logo">Welcome&nbsp;<span id='headingUserName'>{{username}}</span></a>
    <ul>
      <li><a href="index.html">Home / Info</a></li>
      <span>|</span>
      <li><a class="active" href="signin.html">Sign in / Login In</a></li>
    </ul>
  </nav>
</header>
<div id='logOutContainer'  >
  <p id='logOut'>Logout</p>
</div>



  <!-- Form Field -->
<form action="javascript:void(0);" id="regForm" method="POST">

<!-- One "tab" for each step in the form: -->
<div class="tab">Name:
  <p><input id="first_name" name="first_name" placeholder="First name..."></p>
  <p id="first_name_error">*Please add your first name</p>
  <p><input id="last_name" name="last_name" placeholder="Last name..."></p>
  <p id="last_name_error">*Please add your last name</p>
</div>

<div class="tab">Contact Info:
  <p><input id="e_mail" name="e_mail" placeholder="E-mail..." ></p>
  <p id="e_mail_error">*Please add your email</p>
  <p><input id="phone" name="phone" placeholder="Phone..." ></p>
  <p id="phone_error">*Please add your phone number</p>
</div>

<div class="tab">Work Details:
  <p><input id="company" name="company" placeholder="Company..."></p>
  <p id="company_error">*Please add your company or school</p>
  <p><input id="role" name="role" placeholder="Role..."></p>
  <p id="role_error">*Please add your role</p>
</div>

<div class="tab">Media:
  <p><input id="portfolio" name="portfolio" placeholder="Portfolio"></p>
  <p><input id="linked_in" name="linked_in" placeholder="LinkedIn"></p>
  <p><input id="instagram" name="instagram" placeholder="Instagram"></p>
</div>

<p>Select a style:</p>

<div class="radio">
  <label for="styleCarbon">Carbon</label>
  <input type="radio" id="style1" name="userStyle" value="carbon" checked >
</div>
<div class="radio">
  <label for="style2">Fractal</label>
  <input type="radio" id="style2" name="userStyle" value="fractal">  
</div>
<div class="radio"> 
  <label for="style4">Geometry</label>
  <input type="radio" id="style3" name="userStyle" value="geometry">
</div>
<div class="radio">
  <label for="style4">Standard</label>
  <input type="radio" id="style4" name="userStyle" value="standard">
</div>

<div>

<button id="userSubmit" type="submit">Save</button>
</form>


</section>






<script>
  const logOut = (e) => {
    fetch( '/logout')
    .then(res=> window.location.href = window.location.origin )
    .catch(err=>console.log(err));
  }

  document.getElementById('logOut').addEventListener('click',logOut);
</script>