html,body{
  height:100%;
}

body{
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSI+CjxyZWN0IHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgZmlsbD0iIzE1MTUxNSI+PC9yZWN0Pgo8Y2lyY2xlIGN4PSIzIiBjeT0iNC4zIiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIzIiBjeT0iMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+CjxjaXJjbGUgY3g9IjEwLjUiIGN5PSIxMi41IiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIxMC41IiBjeT0iMTEuMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+Cjwvc3ZnPg==");
  font-family: 'Roboto', sans-serif;
  color:white;
  font-size:1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  margin: 0;
  display: block;
  width: 100%;
}

a{
  color:white;
}

#container { 
  display:flex; 
  flex-direction:column;
  width:100%;
  border-radius: 0 50px 0 0;
  padding: 40px 0;
  margin-right: 30px;
}

#container div {
  display:flex; 
  flex-direction:row;
  justify-content: flex-start;
  margin: 2.5px 0;
  align-items:center;
  width:100%;
}

#container div > div:first-of-type{
  padding: 10px;
  width: 50px;
  min-height: 60px;
  background-color: blue;
  text-align: center;
  display: flex;
  justify-content: center;
}

/* rounding edges start */
#container div:first-of-type > div:first-of-type{
  border-radius: 0 10% 0 0;
}

#container div:last-of-type > div:first-of-type{
  border-radius: 0 0 10% 0;
}
/* rounding edges end*/

#container div > div:last-of-type{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

/* Color Settings */
/* Names */
#container div:nth-of-type(1) > div:first-of-type{
  background-color: #31c2ef;
}

#container div:nth-of-type(1) > div:last-of-type p{
  text-transform: uppercase;
  font-weight:500;
  font-size:1.5em;
}


/* Contact */
#container div:nth-of-type(2) > div:first-of-type{
  background-color: #feb916;
}

/* Work | Role Info */
#container div:nth-of-type(3) > div:first-of-type{
  background-color: #ed1865;
}

/* Social Links */
#container div:nth-of-type(4) > div:first-of-type{
  background-color: #165e60;
}

#landscapeMessage{
  position: absolute;
  color:white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display:none;
  font-size:1.25em;
}

#landscapeMessage i{
  text-align: center;
  font-size:2em;
  width:100%;
}


/* Force Orientation View  to portrit for a consistent style*/

@media screen and (orientation: landscape) and (max-device-width: 900px) {
  #container {
    display:none;
  }

  .trendyHeader{
    display:none;
  }

  html,body{
    background-color:#172328;
    background-image:none;
  }

  #landscapeMessage{
    display:flex;
    justify-content:center;
    align-items: center;
    width:60%;
  }

  #landscapeMessage div:nth-of-type(1){
    flex-grow: 2;
    padding: 0 10px;
  }

  #landscapeMessage div:nth-of-type(2){
    flex-grow: 1;
  }

  body{
    border:none;
  }
}

/* Low height Phones */
@media only screen and (max-height: 800px) {
  .geometryHeader{
    margin-top:-50px;
  }
}