html, body {
  height: 100%;
}

body{
  font-family: 'Roboto', sans-serif;
}

/* Style the form */
#regForm, #signInForm {
  background-color: #ffffff;
  margin: 0px auto;
  padding: 20px;
  width: 75%;
  min-width: 200px;
}

.label{
  color: rgb(121, 121, 121);
}

.inputMargin{
  margin-bottom: 20px;
  padding-left: 7px;
}

.inputPadding{
  padding-left: 7px;
}

/* Style the input fields */
input {
  padding: 5px 0;
  width: 100%;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  border:none;
  border-bottom: 1px solid #474967;
}

input:focus {
  outline: none !important;
  border: 2px solid #474967!important;
}

input[type=radio] {
  border: 5px solid black;
  width:20px;
  margin-left: auto;
}



/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

.radio{
  display: flex;
  width: 100%;
  min-height: 25px;
  align-content: center;
  align-items: center;
  margin: 10px 0;
}

.radio img{
  width: 100px;
  margin-left: 30px;
  margin-right:10px;
  border: 1px solid #666;
}

.radio label{
  display:block;
  width:50px;
}

#buttons{
  margin-top:10px;
}

#first_name_error, #last_name_error, #e_mail_error, #phone_error, #company_error, #role_error{
display:none;
color:red;
}

#first_name_error.inError, #last_name_error.inError, #e_mail_error.inError, #phone_error.inError, #company_error.inError, #role_error.inError{
  display:block;
}


header{
  background-color:#273238;
  border-bottom: 5px solid #7977a8;
}

/* Added for sticky footer */
.sticky-footer-wrapper {
  flex: 1 0 auto;
}

/* Navigation styles */
nav{
  width:100%;
  max-width:960px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: flex-end;
  flex-direction:column;
}

nav ul a{
  color:#777;
  text-decoration:none;
  font-weight:500;
  font-size:1.2em;
  margin: 0 5px;
}

nav ul span{
  color:#777;
}

nav > a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration:none;
  margin:0;
  margin-right:auto;
  background-color: #474967;
  color:white;
  height:90px;
  width:100%;
  font-size:2.2em;
  font-weight:600; 
}

nav ul{
  padding-left:0;
}

nav li{
list-style-type:none;
display:inline-block;
}

nav li a.active, nav li a:hover{
  color:#fff;
  cursor:pointer;
}

button {
  margin-top:10px;
  background-color: #474967;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:10px;
  cursor:pointer;
}

button:hover {
  background-color: #7977a8;
}


/* Media Queries */

/* Declared as a requirement of the assignment but not used as the layout didn't require it */


@media only screen and (min-width: 768px) {
  nav {
    flex-direction:row;
    height:90px;
  }
  nav > a{
    width:auto;
    padding: 0 20px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 3em;
  }
  
  nav ul{
    justify-content: flex-end;
  }

  section p {
    display:flex;
    align-items: center;
  }
  
  #about p{
  flex-direction: row;
  display:block;
  }
  #about p img {
    padding: 30px 150px 30px 25px;
    margin-right:20px;
    width:25%;
    float: left;
  }
}

/* Footer styles */
footer{
  background-color:#273238;
  color:white;
  border-top: 8px solid #474967;
  width: 100%;
  flex-shrink: 0;
  justify-content: center;
  align-items:center;
  display:flex;
  height:60px;
}

footer p{
  margin:0px;
}




/* Modal */

.modal {
  /* This way it could be display flex or grid or whatever also. */
  display: block;
  
  /* Probably need media queries here */
  display: flex;
  padding-top:30px;
  width: 600px;
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  overflow-y:auto;
  
  /* Use this for centering if unknown width/height */
  transform: translate(-50%, -50%);
  
  /* If known, negative margins are probably better (less chance of blurry text). */
  /* margin: -200px 0 0 -200px; */
  
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.closed {
  display: none;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  
  background: rgba(0, 0, 0, 0.6);
}
.modal-guts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px 50px 20px 20px;
}



.modal-guts {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
}


.modal .close-button {
  position: absolute;
  cursor: pointer;
  
  /* don't need to go crazy with z-index here, just sits over .modal-guts */
  z-index: 1;
  top: 0;
  /* needs to look OK with or without scrollbar */
  right: 10px;
  border: 0;
  background: black;
  color: white;
  padding: 5px 10px;
  font-size: 1.3rem;
}

#share{
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}


.hide{
  display:none;
}

.diactivated{
  background-color: grey;
}
.diactivated:hover{
  background-color: grey;
}

#errMsgs{
  color: red;
  text-align: center;
}

#deleteButton{
  background-color: rgb(165, 0, 0);
}
#deleteButton:hover{
  background-color: rgb(204, 0, 0);
}