body{
  font-family: 'Roboto', sans-serif;
}

/* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 0px auto;
  padding: 20px;
  width: 75%;
  min-width: 200px;
}

/* Style the input fields */
input {
  padding: 5px 0;
  width: 100%;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  border:none;
  border-bottom: 1px solid #474967;
}

input:focus {
  outline: none !important;
  border: 2px solid #474967!important;
}

input[type=radio] {
  border: 5px solid black;
}


/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

.radio{
  display:flex;
  width:100%;
  min-height:25px;
}

.radio label{
  display:block;
  min-width:50px;
}

.radio input{
  margin: 0 0 0 calc(100% - 63px);
}

#first_name_error, #last_name_error, #e_mail_error, #phone_error, #company_error, #role_error{
display:none;
color:red;
}

#first_name_error.inError, #last_name_error.inError, #e_mail_error.inError, #phone_error.inError, #company_error.inError, #role_error.inError{
  display:block;
}


header{
  background-color:#273238;
  border-bottom: 5px solid #7977a8;
}

/* Added for sticky footer */
.sticky-footer-wrapper {
  flex: 1 0 auto;
}

/* Navigation styles */
nav{
  width:100%;
  max-width:960px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: flex-end;
  flex-direction:column;
}

nav ul a{
  color:#777;
  text-decoration:none;
  font-weight:500;
  font-size:1.2em;
  margin: 0 5px;
}

nav ul span{
  color:#777;
}

nav > a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration:none;
  margin:0;
  margin-right:auto;
  background-color: #474967;
  color:white;
  height:90px;
  width:100%;
  font-size:2.2em;
  font-weight:600; 
}

nav ul{
  padding-left:0;
}

nav li{
list-style-type:none;
display:inline-block;
}

nav li a.active, nav li a:hover{
  color:#fff;
  cursor:pointer;
}

button {
  margin-top:10px;
  background-color: #474967;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:10px;
}

button:hover {
  background-color: #7977a8;
}


/* Media Queries */

/* Declared as a requirement of the assignment but not used as the layout didn't require it */
@media only screen and (min-width: 640px) {

  #cardDisplay{
    display:flex;
    flex-direction:row;
  }

  #cardDisplay div{
    max-width:22.5%;
    margin-left:1.25%;
    margin-right:1.25%;
    flex-direction:row;
  }

}

@media only screen and (min-width: 768px) {
  nav {
    flex-direction:row;
    height:90px;
  }
  nav > a{
    width:auto;
    padding: 0 20px;
    font-family: 'Share Tech Mono', monospace;
    font-size:3em;
  }
  nav ul{
    justify-content: flex-end;
  }

  section p {
    display:flex;
    align-items: center;
  }
  
  #about p{
  flex-direction: row;
  display:block;
  }
  #about p img {
    padding: 30px 150px 30px 25px;
    margin-right:20px;
    width:25%;
    float: left;
  }
}

/* Declared as a requirement of the assignment but not used as the layout didn't require it */
@media only screen and (min-width: 980px) {

}